
 /* $MVD$:fontset("Arial","Arial") */
 /* $MVD$:fontset("Comic Sans MS","Comic Sans MS") */
 /* $MVD$:fontset("Courier New","Courier New") */
 BODY { font-family : "Arial";
        background-color : white;}
 .mvd-BODY { font-family : "Arial";
             background-color : white;}
 H1 { font-size : 24.0pt;
      color : blue;}
 .mvd-H1 { font-size : 24.0pt;
           color : blue;}
 H2 { font-weight : bold;
      font-size : 18.0pt;
      color : blue;}
 .mvd-H2 { font-weight : bold;
           font-size : 18.0pt;
           color : blue;}
 H3 { font-weight : bold;
      font-size : 14.0pt;
      color : blue;}
 .mvd-H3 { font-weight : bold;
           font-size : 14.0pt;
           color : blue;}
 H4 { font-weight : bold;
      font-size : 12.0pt;
      color : blue;}
 .mvd-H4 { font-weight : bold;
           font-size : 12.0pt;
           color : blue;}
 H5 { font-size : 8.0pt;}
 .mvd-H5 { font-size : 8.0pt;}
 H6 { font-size : 12.0pt;}
 .mvd-H6 { font-size : 12.0pt;}
 P { font-size : 12.0pt;}
 .mvd-P { font-size : 12.0pt;}
 CITE.expandspot { font-style : normal;
                   color : green;
                   cursor: hand;}
 .mvd-CITE-expandspot { font-style : normal;
                        color : green;
                        cursor: hand;}
 DFN.collapsed { font-style : italic;
                 font-weight : normal;
                 display :      'none';
                 color : red;}
 .mvd-DFN-collapsed { font-style : italic;
                      font-weight : normal;
                      display :      'none';
                      color : red;}
 DFN.expanded { font-style : italic;
                font-weight : normal;
                color : red;}
 .mvd-DFN-expanded { font-style : italic;
                     font-weight : normal;
                     color : red;}
 EM.dropspot { color : green;
               cursor: hand;}
 .mvd-EM-dropspot { color : green;
                    cursor: hand;}
 CITE.glossterm { font-style : normal;
                  color : maroon;
                  cursor: hand;}
 .mvd-CITE-glossterm { font-style : normal;
                       color : maroon;
                       cursor: hand;}
 DFN.glosscollapsed { font-style : italic;
                      font-weight : normal;
                      display :      'none';
                      color : blue;}
 .mvd-DFN-glosscollapsed { font-style : italic;
                           font-weight : normal;
                           display :      'none';
                           color : blue;}
 DFN.glossexpanded { font-style : italic;
                     font-weight : normal;
                     color : blue;}
 .mvd-DFN-glossexpanded { font-style : italic;
                          font-weight : normal;
                          color : blue;}
 